.bg-image {
  background-image: url("/public/assets/bgimage.png");
  background-color: black;
    background-size: cover;
    background-position: center;
  height: 87  vh; /* Full height */
}
body{
  background-color: black;
}
@media screen and (max-width:768px) {
  .bg-image{
    background-color: black;
    background-image: none;
  }
}
.abtsection,.globecomp,.whytravel,.adventure,.testimo,.contact {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.show {
  opacity: 1;
  transform: translateY(0);
}