@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Habanero";
  src: local("Habanero"),
    url("./fonts/Habanero.otf") format("opentype");
  font-weight: normal;
}